*{
  padding: 0;
  margin: 0;
}
.logoheader {
  height: 50px;
}
.mepheader{
  padding: 10px;
}
.cleanlink {
  text-decoration: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}
.h1 {
  font-size: 30px;
}
.icon {
  font-size: 30px;
}
.icon:hover { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.margin {
  margin-top: 10px;
}

.backheader {
  background-image: url(image/backgroundimage.png);
  width: 100%;
}
.backfooter {
  background-image: url(image/backgroundimage.png);
  width: 100%;
  height: 35px;
}

body {
  background-color: black;
}
.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 80%;
  }
.margin2{
  margin:10px;

}
.margin3{
  margin-top:20px;

}
.margin4{
  margin-top:50px;

}
  .left{
    align-items: left;
    width: 15%
  }
.parent img{
width: 100%;
}
.akira {
  font-family: 'Akira Expanded', sans-serif;
  color: white;
}
.akira2 {
  font-family: 'Akira Expanded', sans-serif;
  color: black;
  font-size: 5px;
}
.akira3 {
  font-family: 'Akira Expanded', sans-serif;
  color: white;
  font-size: 12px;
}
.logoheader:hover {
  filter: grayscale(100%);
    -webkit-transform: scale(1.1);
   -moz-transform: scale(1.1);
   -ms-transform: scale(1.1);
   -o-transform: scale(1.1);
   transform: scale(1.1); 
 }

.center{
  text-align: center;
}
.padding{
  padding: 15px;
}
.padding2{
  padding: 5px;
}
.futura{
  font-family: 'Futura PT', sans-serif;
  color: white;
  font-size: 12px;
}
h2{
  font-size: 15px;
}
.article {
  width: 80%;
  }
.aligncenter{
  align-items: center;
}
.parent2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }


.lien1, .lien2, .lien3, .lien4, .lien5, .lien6{
  width: 100%;
height: 100%;
display: block;
background-size: cover;
background-position: center;
}
.lien1{
  background-image: url(image/trapoproject.png);

}
.lien2{
  background-image: url(image/oripoproject.png);
}
.lien3{
  background-image: url(image/lappartproject.png);
}
.lien4{
  background-image: url(image/traphouseproject.png);
}
.lien5{
  background-image: url(image/thinkrichproject.png);
}
.lien6{
  background-image: url(image/blockpproject.png) ;
}

.lien1:hover {
  background: url(image/trapositehover.png) no-repeat;
  background-size: cover;
  background-position: center
}
.lien2:hover:hover {
  background: url(image/oripohover.png) no-repeat;
  background-size: cover;
  background-position: center
}
.lien3:hover:hover {
  background: url(image/lapparthover.png) no-repeat;
  background-size: cover;
  background-position: center
}
.lien4:hover:hover {
  background: url(image/traphousehover.png) no-repeat;
  background-size: cover;
  background-position: center
}
.lien5:hover:hover {
  background: url(image/THINKRICHhover.png) no-repeat;
  background-size: cover;
  background-position: center
}
.lien6:hover:hover {
  background: url(image/blockphover.png) no-repeat;
  background-size: cover;
  background-position: center
}